main{
    position: center center;
    border: solid;
    width: 420px;
    margin: auto;
    margin-top: 50px;
}

section:nth-of-type(1) > div{
    display: inline-block;
}

section:nth-of-type(2) > div{
    display: inline-block;
}

section:nth-of-type(3) > div{
    display: inline-block;
}

section:nth-of-type(4) > div{
    display: inline-block;
}

section:nth-of-type(5) > div{
    display: inline-block;
}

section:nth-of-type(6) > div{
    display: inline-block;
}

section:nth-of-type(7) > div{
    display: inline-block;
}

section:nth-of-type(8) > div{
    display: inline-block;
}

main > section:nth-of-type(odd) > div:nth-of-type(odd){
    background-image: linear-gradient(#FDFCFB ,#75726e7c );
}
main > section:nth-of-type(odd) > div:nth-of-type(even){
    background-image: linear-gradient(#434343 , #000000);
}

main > section:nth-of-type(even) > div:nth-of-type(odd){
    background-image: linear-gradient(#434343 , #000000);
}

main > section:nth-of-type(even) > div:nth-of-type(even){
    background-image: linear-gradient(#FDFCFB ,#757472a8 );
}


section:nth-of-type(1) > div:nth-of-type(1){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}


section:nth-of-type(1) > div:nth-of-type(2){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(1) > div:nth-of-type(3){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(1) > div:nth-of-type(4){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(1) > div:nth-of-type(5){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(1) > div:nth-of-type(6){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(1) > div:nth-of-type(7){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(1) > div:nth-of-type(8){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(2) > div:nth-of-type(1){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(2) > div:nth-of-type(2){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(2) > div:nth-of-type(3){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(2) > div:nth-of-type(4){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(2) > div:nth-of-type(5){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(2) > div:nth-of-type(6){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(2) > div:nth-of-type(7){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(2) > div:nth-of-type(8){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(3) > div:nth-of-type(1){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(3) > div:nth-of-type(2){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(3) > div:nth-of-type(3){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(3) > div:nth-of-type(4){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(3) > div:nth-of-type(5){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(3) > div:nth-of-type(6){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(3) > div:nth-of-type(7){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(3) > div:nth-of-type(8){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(4) > div:nth-of-type(1){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(4) > div:nth-of-type(2){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(4) > div:nth-of-type(3){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(4) > div:nth-of-type(4){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(4) > div:nth-of-type(5){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(4) > div:nth-of-type(6){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(4) > div:nth-of-type(7){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(4) > div:nth-of-type(8){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(5) > div:nth-of-type(1){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(5) > div:nth-of-type(2){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(5) > div:nth-of-type(3){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(5) > div:nth-of-type(4){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(5) > div:nth-of-type(5){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(5) > div:nth-of-type(6){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(5) > div:nth-of-type(7){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(5) > div:nth-of-type(8){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(6) > div:nth-of-type(1){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(6) > div:nth-of-type(2){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(6) > div:nth-of-type(3){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(6) > div:nth-of-type(4){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(6) > div:nth-of-type(5){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(6) > div:nth-of-type(6){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(6) > div:nth-of-type(7){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(6) > div:nth-of-type(8){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(7) > div:nth-of-type(1){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(7) > div:nth-of-type(2){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(7) > div:nth-of-type(3){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(7) > div:nth-of-type(4){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(7) > div:nth-of-type(5){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(7) > div:nth-of-type(6){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(7) > div:nth-of-type(7){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(7) > div:nth-of-type(8){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(8) > div:nth-of-type(1){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(8) > div:nth-of-type(2){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(8) > div:nth-of-type(3){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(8) > div:nth-of-type(4){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(8) > div:nth-of-type(5){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(8) > div:nth-of-type(6){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(8) > div:nth-of-type(7){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}

section:nth-of-type(8) > div:nth-of-type(8){
    
    font-size: 50px;
    width: 50px;
    text-align: center;
}